body {
  font-family: system-ui, sans-serif;
  max-width: 42rem;
  margin: 2rem auto;
  padding: 0 1rem;
  line-height: 1.6;
}

header, footer {
  text-align: center;
  margin-bottom: 2rem;
}

h1 a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 0.5rem;
}

.date {
  color: #777;
  font-size: 0.9em;
  margin-left: 0.5rem;
}
